extends _default/layout.jade
block body
  div#main
    h1= title

    div#show-repos

    form(action="/clone", method="post", id="form-clone")
      p Clone repository 
      label Repository URL (Git)
        input(type="text", name="repo")

      button(type="submit") Clone!
block scripts
  script(type="text/javascript", src="/javascripts/api.js")
  script(type="text/javascript", src="/javascripts/main.js")
