extends _default/layout.jade
block body
  div#main
    h1= title

    div.clearfix
      div.left.left-column
        div#show-repos
      div.right.right-column
        form(action="/clone", method="post", id="form-clone", class="clone-form")
          p.title Clone repository 
          div.form-row
            label(for="repo") Repository name (https://bitbucket.org/soudigital/{name}.git)
          div.form-row.input-row
            input(type="text", id="repo", name="repo", class="form-control", placeholder="Repository name")
          div.form-row
            p.message
          div.text-center
            button(type="submit", class="btn btn-lg btn-default") 
              | Clone!
block scripts
  script(type="text/javascript", src="/javascripts/api.js")
  script(type="text/javascript", src="/javascripts/main.js")
